<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleTime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SimpleTime.Properties.Settings>
            <setting name="OptionAlwaysShowTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionDisableAlertPopup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionDisableSoundAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Option24HourClock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionDayMonthYearFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionHideDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionHideTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatSunday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatMonday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatTuesday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatWednesday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatThursday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatFriday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatSaturday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlarmMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlarmMinute" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlarmSecond" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerMinute" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerSecond" serializeAs="String">
                <value>0</value>
            </setting>
        </SimpleTime.Properties.Settings>
    </userSettings>
</configuration>